<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>meat</string>
	<key>uuid</key>
	<string>63E93FEC-7FE9-414A-9566-EC5EEDDC2598</string>
</dict>
</plist>
